/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 6, 2025, 1:44:04 PM
    Author     : ASUS
*/

/*
 * Phong cách mới: Dark Mode, hiện đại, sử dụng màu nhấn (accent color) xanh neon
 */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin-left: 2em;
}
h1 {
    color: teal;
}
label {
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
}
input[type="text"], input[type="email"] {
    width: 15em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}
br {
    clear: both;
}